/* Default colors */
:root {
  --primary: #7d4e24;
  --secondary: #c7795d;
  --tertiary: #e07a2f;
  --background: #f2e4d4;
  --surface: #faf5ed;
  --text: #3a2a1a;
  --accent: #9f5f3c;
}

/* Dark mode colors */
.dark {
  --primary: #a05e2c;
  --secondary: #d18662;
  --tertiary: #f0a35c;
  --background: #1e160e;
  --surface: #2a2116;
  --text: #f0e6d6;
  --accent: #d67237;
}

/* Body header - content - footer*/
body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  background-color: var(--background);
  color: var(--text);
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

img {
  object-fit: contain;
}

.header {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex: 1;
  position: relative;
  min-height: 50px;
  width: 100%;
}

/* Theme toggle button */
#themeToggle {
  height: 35px;
  width: 35px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
}

/* Theme toggle button icons */
#themeToggle svg {
  fill: var(--text);
}

#themeToggle svg:last-child {
  display: none;
}

.dark #themeToggle svg:first-child {
  display: none;
}

.dark #themeToggle svg:last-child {
  display: block;
}

.header nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
