:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Default colors */
:root {
  --primary: #7d4e24;
  --secondary: #c7795d;
  --tertiary: #e07a2f;
  --background: #f2e4d4;
  --surface: #faf5ed;
  --text: #3a2a1a;
  --accent: #9f5f3c;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Dark mode colors */
.dark {
  --primary: #a05e2c;
  --secondary: #d18662;
  --tertiary: #f0a35c;
  --background: #1e160e;
  --surface: #2a2116;
  --text: #f0e6d6;
  --accent: #d67237;
  --box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

/* Body header - content - footer*/
body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  background-color: var(--background);
  color: var(--text);
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

/* HEADER */

.header {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.header-title {
  font-size: 1.5rem;
  color: var(--accent);
  font-weight: bold;
}

h2 {
  font-size: 1.75rem;
  color: var(--tertiary);
  font-weight: bold;
}

.header-quote {
  font-size: 1rem;
  color: var(--tertiary);
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex: 1;
  position: relative;
  min-height: 50px;
  width: 100%;
}

.nav-list {
  color: var(--text);
}

a {
  color: var(--text);
}

a:hover {
  color: var(--accent);
}

/* Theme toggle button */
#themeToggle {
  height: 35px;
  width: 35px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
}

/* Theme toggle button icons */
#themeToggle svg {
  fill: var(--text);
}

#themeToggle svg:last-child {
  display: none;
}

.dark #themeToggle svg:first-child {
  display: none;
}

.dark #themeToggle svg:last-child {
  display: block;
}

.header nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* HERO */
#hero {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: top;
}

button {
  background-color: var(--primary);
  color: var(--text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary);
}

/* Experience */

section {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card {
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--surface);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

.card-title {
  font-size: 1.5rem;
  color: var(--accent);
  font-weight: bold;
}

.card-header {
  width: 100%;
}

.card-img {
  width: 150px;
  height: 150px;
  justify-self: center;
}

.technologies-list {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.technology-item {
  cursor: default;
  background-color: var(--surface);
  color: var(--accent);
  padding: 0.25rem 0.75rem;
  border-radius: 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

.technology-item:hover {
  background-color: var(--primary);
  color: var(--text);
}
